build
autom4te.cache
aclocal.m4
configure
configure~
config.log
config.status
Makefile
Makefile.in
libcliauth.*
libcliauth-*.*
cliauth
cliauth_test
libtool
!src/cliauth
*.o
**/.deps
**/.dirstamp
.Tpo

